*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

button, input, textarea, select {
    font-family: inherit; /* Kế thừa kiểu chữ từ phần tử cha */
    color: inherit;        /* Kế thừa màu chữ từ phần tử cha */
  }
  

.icon {
    filter: var(--icon-color);
  }
  
